$font-stack: Helvetica, sans-serif;
$primary-color: rgb(60, 80, 93);

body {
    font: 100% $font-stack;
    color: $primary-color;
}


.header {
        text-align: right;
        color: gray;
    h1 {padding-top: 40px;}
    
}
div row2 {
    font-size: 18px;
        h2, p {
    color: white;
   }
}