body {
  background-image: url("image4.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1,
p {
  color: gray;
}

#content {
  max-width: 80%;
  margin: auto;
}

.navbar {
  overflow: hidden;
  background-color: rgba(60, 80, 93, 0.2);
}

.navbar a {
  float: left;
  display: block;
  color: gray;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(60, 80, 93);
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
}

.sticky + .content {
  padding-top: 60px;
}

.navbar-xs a {
  color: white;
  text-align: center;
  text-decoration: none;
}
.table-responsive {
  padding-top: 20px;
}

.row {
  background-color: white;
  padding: 30px;
  margin-top: 10px;
}

.row2 {
  background-color: rgb(60, 80, 93);
  margin: 10px -15px 0px -15px;
  padding: 30px;
}
.project {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  padding: 10px 0px 10px 0px;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.thumbnail:hover .project {
  opacity: 0.3;
}
.thumbnail:hover .middle {
  opacity: 1;
}
.text {
  background-color: rgb(60, 80, 93);
  color: white;
  font-size: 16px;
  padding: 10px 15px;
}
